body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* background: #f5f5f5; */
}

.red-bg {
  background-color: #cca914;
}

.blue-bg {
  background-color: #99873d;
}

.green-bg {
  background-color: #A3D119;
}

